/bin/releases/*
!/bin/releases/bundles.json
!/bin/releases/package-template.json
/docs
/workdocs/confluence/modules/*
/workdocs/drawings/*
!/workdocs/drawings/*.drawio
/workdocs/resources/*
/workdocs/reports/*
!/workdocs/reports/data
/workdocs/reports/data/*
!/workdocs/reports/data/.gitkeep
!/workdocs/reports/images
/workdocs/reports/images/*
!/workdocs/reports/images/.gitkeep
!/workdocs/reports/jest.coverage.config.js
!/workdocs/reports/test-sequencer.js
/workdocs/uml/*
!/workdocs/uml/*.puml
/.token
/.npmtoken
/.dockertoken
/.confluence-token
/node_modules
!.gitkeep
.env
/docker/auth/volumes/keycloak-data