/bin/releases/*
!/bin/releases/bundles.json
!/bin/releases/package-template.json
/docs
/bin/releases/*
/workdocs/spec/modules/*
/workdocs/coverage
/workdocs/resources/*
!/workdocs/resources/.gitlock
/workdocs/drawings/*
/workdocs/uml/*
!/workdocs/drawings/*.drawio
!/workdocs/uml/*.puml
/.token
/.npmtoken
/.confluence-token
/node_modules
