/bin/releases
!/bin/releases/bundles.json
!/bin/releases/package-template.json
/docs
/workdocs/coverage
/workdocs/resources/*
!/workdocs/resources/.gitlock
/workdocs/drawings/*
/workdocs/uml/*
!/workdocs/drawings/*.drawio
!/workdocs/uml/*.puml
/.idea/*.xml
/.idea/*.iml
/.idea/shelf
/.idea/codeStyles
/.idea/inspectionProfiles
/.idea/jsLinters
!/.idea/runConfigurations/*.xml
/.token
/.npmtoken
/node_modules