[submodule "reflection"]
	path = reflection
	url = git@github.com:decaf-ts/reflection.git
[submodule "decorator-validation"]
	path = decorator-validation
	url = git@github.com:decaf-ts/decorator-validation.git
[submodule "injectable-decorators"]
	path = injectable-decorators
	url = git@github.com:decaf-ts/injectable-decorators.git
[submodule "db-decorators"]
	path = db-decorators
	url = git@github.com:decaf-ts/db-decorators.git
[submodule "transactional-decorators"]
	path = transactional-decorators
	url = git@github.com:decaf-ts/transactional-decorators.git
[submodule "core"]
	path = core
	url = git@github.com:decaf-ts/core.git
[submodule "for-couchdb"]
	path = for-couchdb
	url = git@github.com:decaf-ts/for-couchdb.git
[submodule "for-nano"]
	path = for-nano
	url = git@github.com:decaf-ts/for-nano.git
[submodule "for-pouch"]
	path = for-pouch
	url = git@github.com:decaf-ts/for-pouch.git
