
[submodule "for-pouch"]
	path = for-pouch
	url = https://github.com/decaf-ts/for-pouch.git
[submodule "for-typeorm"]
	path = for-typeorm
	url = https://github.com/decaf-ts/for-typeorm.git
[submodule "for-fabric"]
	path = for-fabric
	url = https://github.com/decaf-ts/for-fabric
[submodule "for-nest"]
	path = for-nest
	url = https://github.com/decaf-ts/for-nest
[submodule "styles"]
	path = styles
	url = https://github.com/decaf-ts/styles
[submodule "for-angular"]
	path = for-angular
	url = https://github.com/decaf-ts/for-angular.git
[submodule "for-react-native"]
	path = for-react-native
	url = https://github.com/decaf-ts/for-react-native.git
[submodule "demo"]
	path = demo
	url = https://github.com/decaf-ts/demo.git
[submodule "web-page"]
	path = web-page
	url = https://github.com/decaf-ts/wep-page.git
